{% load crypto_filters %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ absence.emargement.date_emargement|date:"d/m/Y" }}</h5>
        <div class="bg-primary text-white" style="padding:10px; border-radius:10px">
            <p> Vous avez jusqu'au {{ absence.date_limite|date:"d/m/Y h:m:s" }} pour justifier votre absence du {{ absence.emargement.date_emargement|date:"d/m/Y" }}</p>
        </div>
        <br>                                                                               
        <!-- Vertical Form -->
        <form method="post" action="" id="formMotifAbsenceStudent-{{ absence.id }}" class="row g-3">
            {% csrf_token %}
            <input type="text" name="id" value="{{ absence.id }}" hidden="True" required="True">
            <div class="col-12">
                <label for="motif" class="form-label">Motif * </label>
                <textarea class="form-control" name="motif" id="motif" style="height: 50px;" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
            </div>
        </form><!-- Vertical Form -->
    </div>
</div>