<div class="wrapper">

      <!-- Full Width Column -->
      <div class="content-wrapper bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                  <h1>
                    <i class="fa fa-list"></i> Service
                  </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                  <div class="box box-default" *ngFor="let donation of donations">
                    <div class="box-header with-border">
                      <h3 class="box-title">{{ donation.title }}
                        <br>
                        <small>{{ donation.dateDonation }}</small></h3>
                    </div>
                    <div class="box-body">
                      <h4 class="text-primary">{{ donation.title }}</h4>
                      <p>{{ donation.description }}</p>
                      <div class="post-image" *ngIf="donation.photo" (click)="openImage(donation.photo)">
                        <img class="img-responsive" [src]="'https://lisungi-x9vx.onrender.com/uploads/' + donation.photo">
                      </div>
                    </div><!-- /.box-body -->
                  </div><!-- /.box -->
                </section><!-- /.content -->

                <div
                  class="image-modal"
                  *ngIf="selectedImage"
                  (click)="closeImage()">
                  <button
                      type="button"
                      class="close-image"
                      (click)="closeImage(); $event.stopPropagation()">
                      &times;
                  </button>
                  <img
                      [src]="selectedImage"
                      class="expanded-image"
                      (click)="$event.stopPropagation()">
                </div>

            </div>
            <div class="col-md-1"></div>
          </div>
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->

    </div><!-- ./wrapper -->

