{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Ajout d'une participation {% endblock %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Participations</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}" style="text-decoration:none"><i class="fas fa-fw fa-tachometer-alt"></i> Tableau de bord </a> < </li> 
        <li><a href="{% url 'participations' %}" style="text-decoration:none"> Projets </a> < </li> 
        <li class="active">Edition</li>
    </ol>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edition d'une participation</h6>
        </div>
        <div class="card-body">
            <!-- On inclut l'image de chargement -->
            {% include 'global/_loading.html' %}
            <form method="post" action="" id="formUpdateParticipation">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input type="text" name="id" value="{{ participation.id }}" hidden="True" required="True">
                        <div class="form-group">
                            <label for="projet">Projet *</label>
                            <select name="projet" id="projet" class="form-control" required>
                               <option value="{{ participation.projet.id }}">{{ participation.projet }}</option>
                               {% for projet in projets %}
                               <option value="{{ projet.id }}">{{ projet }}</option>
                               {% endfor %}
                            </select>
                        </div>
                        <div class="viewActeur">
                            <div class="form-group">
                                <label for="acteur">Acteur *</label>
                                <select name="acteur" id="acteur" class="form-control" required>
                                    <option value="{{ participation.acteur.id }}">{{ participation.acteur.last_name|title }} {{ participation.acteur.first_name|title }}</option>
                                    {% for acteur in acteurs %}
                                    <option value="{{ acteur.id }}">{{ acteur.last_name|title }} {{ acteur.first_name|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="montant_participation">Montant de participation <span class="content_devise">({{ participation.projet.devise }})</span> *</label>
                           <input type="text" name="montant_participation" id="montant_participation" value="{{ participation.montant_participation }}" class="form-control" required> 
                        </div>
                        <div class="form-group">
                            <label for="date_participation">Date de participation*</label>
                           <input type="date" name="date_participation" id="date_participation" value="{{ participation.date_participation|date:"Y-m-d" }}" class="form-control" required> 
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>    
                <br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{% url 'participations' %}" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-left"></i> Retour</a>&nbsp;
                        <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Valider</button>
                    </div>
                </div>
            </form>   
            
            <!-- Start message Modal -->
            <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content bg-gradient-dark">
                    <div class="modal-header">
                      <h5 class="modal-title text-light"><i class="fa fa-info-circle"></i> Information</h5>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-sm text-center" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
                    </div>
                  </div>
                </div>
            </div><!-- End message Modal-->


        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}