{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Configuration {% endblock %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tableau de bord</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Partager vos projets avec d'autres membres</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titre projet</th>
                            <th>Visibilité projet</th>
                            <th>Visibilité tâche</th>
                            <th>Visibilité dépense</th>
                            <th>Visibilité progrè</th>
                            <th>Détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projet in projets %}
                            <tr>
                                <td>{{ p.projet }}</td>
                                <td>
                                    <span class="content-visibilite-projet{{ projet.id }}">
                                        {% if projet.visibilite_projet %}
                                        <a class="btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#visibiliteModal{{ projet.id }}" title="Visibilié">Visible</a>
                                        {% else %}
                                        <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#visibiliteModal{{ projet.id }}" title="Visibilié">Non visible</a>
                                        {% endif %}
                                        <!-- Visibilité Modal-->
                                        <div class="modal fade" id="visibiliteModal{{ projet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-light {{ setting.theme }}">
                                                        <h5 class="modal-title" id="exampleModalLabel"><span align="center"> Visibilité du projet</span></h5>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <p>{{ projet }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Fermer</button>
                                                        {% if projet.visibilite_projet %}
                                                        <a href="{% url 'visibilite_projet' projet.id %}" class="btn btn-danger btn-sm visibilite-projet" id="{{ projet.id }}"><i class="fa fa-check"></i> Annuler la visibilité</a>
                                                        {% else %}
                                                        <a href="{% url 'visibilite_projet' projet.id %}" class="btn btn-primary btn-sm visibilite-projet" id="{{ projet.id }}"><i class="fa fa-check"></i> Rendre public</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end modal Visibilité -->
                                    </span>
                                </td>
                                <td>
                                    <span class="content-visibilite-tache{{ projet.id }}">
                                        {% if projet.visibilite_tache %}
                                        <button class="btn btn-success btn-sm visibilite-tache" id="{{ projet.id }}">Visible</button>
                                        {% else %}
                                        <button class="btn btn-danger btn-sm visibilite-tache" id="{{ projet.id }}">Non visible</button>
                                        {% endif %}
                                    </span>
                                </td>
                                <td>
                                    <span class="content-visibilite-depense{{ projet.id }}">
                                        {% if p.projet.visibilite_depense %}
                                        <button class="btn btn-success btn-sm visibilite-depense" id="{{ projet.id }}">Visible</button>
                                        {% else %}
                                        <button class="btn btn-danger btn-sm visibilite-depense" id="{{ projet.id }}">Non visible</button>
                                        {% endif %}
                                    </span>
                                </td>
                                <td>
                                    <span class="content-visibilite-progres{{ projet.id }}">
                                        {% if projet.visibilite_progres %}
                                        <button class="btn btn-success btn-sm visibilite-progres" id="{{ projet.id }}">Visible</button>
                                        {% else %}
                                        <button class="btn btn-danger btn-sm visibilite-progres" id="{{ projet.id }}">Non visible</button>
                                        {% endif %}
                                    </span>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm detail-projet" id="{{ projet.id }}" title="Info"><i class="fa fa-eye"></i> Plus d'info</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  
            
            <!-- Info Modal-->
            <div class="modal fade" id="show-detail-projet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-light">
                            <h5 class="modal-title" id="exampleModalLabel"><span align="center"> Information sur mon projet </span></h5>
                        </div>
                        <div class="modal-body" id="content-detail-projet"></div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal info -->

        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}