{% for comment in comments %}
<div id="comment_{{comment.id}}">
  <div class="content-activity">
    <div class="row">
      <div class="col-md-11">
        {% if comment.is_teacher %}
            <p>
              <b>{{ comment.author.last_name|title }} {{ comment.author.first_name|title }}</b><br>
                {{ comment.content }}
            </p>
        {% else %}
            <p>
              <b>{{ comment.author.lastname|title }} {{ comment.author.firstname|title }}</b><br>
                {{ comment.content }}
            </p>
        {% endif %}
      </div>
      <div class="col-md-1">
        <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ comment.id }}" title="Supprimer" class="btn btn-default btn-sm" style="border-radius:20px" ><i class="bi bi-chevron-down"></i></a>
        <!-- Start de delete Modal -->
        <div class="modal fade" id="deleteModal{{ comment.id }}" tabindex="-1">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-center">Voulez-vous vraiment supprimer ce commentaire ?</p>
              </div>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                <button id="{{ comment.id }}" data-salle="{{ salle.id }}" class="btn btn-outline-secondary btn-sm delete_comment"><i class="bi bi-trash"></i> Supprimer</button>
              </div>
            </div>
          </div>
      </div><!-- Fin de delete Modal-->
      </div>
    </div>
  </div>
  <span style="margin-left:50px">{{ comment.date|date:"d/m/Y h:m" }}</span><hr>
</div>
{% endfor %}