{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Succès {% endblock %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tableau de bord</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}" style="text-decoration:none"><i class="fas fa-fw fa-tachometer-alt"></i> Tableau de bord </a> < </li> 
        <li><a href="{% url 'user/profile' %}" style="text-decoration:none"> Profil </a> < </li> 
        <li class="active">Succès</li>
    </ol>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Modification du mot de passe </h6>
        </div>
        <div class="card-body">
            <p class="text-center text-success" style="font-size: 50px;"><i class="fa fa-check-circle"></i></p>
            <p class="text-center text-success"><b>Mot de passe modifié avec succès</b></p>
            <br>
            <p class="text-center"><a href="{% url 'user/profile' %}" class="btn btn-secondary btn-sm"><i class="bi bi-person"></i> Retour au profil </a></p>          
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}