{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Changer le mot de passe {% endblock %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Profil</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}" style="text-decoration:none"><i class="fas fa-fw fa-tachometer-alt"></i> Tableau de bord </a> < </li> 
        <li><a href="{% url 'user/profile' %}" style="text-decoration:none">Mon profil </a> < </li> 
        <li class="active">Edition</li>
    </ol>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Changer le mot de passe</h6>
        </div>
        <div class="card-body">
            <!-- On inclut l'image de chargement -->
            {% include 'global/_loading.html' %}
            <form method="POST" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% for field in form %}
                            <div class="group-form">
                                {{ field.label }}
                                {{ field }}
                            </div>
                            <br>
                            {% if field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ field.errors|escape }}</strong>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'user/profile' %}" class="btn btn-secondary btn-sm"><i class="fa fa-remove"></i> Annuler </a>&nbsp;
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Modifier le mot de passe</button>
                    </div>
                </div>
            </form>   
            
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}