<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Auteur : </th>
                <td>{{ annonce.user.last_name }}</td>
            </tr>
            <tr>
                <th>Titre : </th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Entreprise : </th>
                <td>{{ annonce.company }}</td>
            </tr>
            <tr>
                <th>Date : </th>
                <td>{{ annonce.date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <h4><b>Description</b></h4>
        <p>{{annonce.content|safe}}</p>
    </div>
</div>
<hr>
<div class="text-center">
    <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
</div>