
{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Clients {% endblock %}
{% block content %}
{% load crypto_filters %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-user"></i> Utilisateurs
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
            <li class="active">Clients</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title text-info"><i class="fa fa-table"></i> <b>Liste des clients</b> </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                        <tr class="bg-{{ parametre.theme }}">
                          <th>Noms</th>
                          <th>Prénoms</th>
                          <th>Email</th>
                          <th>NomUtil</th>
                          <th>Priorité</th>
                          <th></th>
                          <th>D-connexion</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for user in tabusers %}
                              <tr>
                                  <td>{{ user.last_name|upper|escape }}</td><!-- Désinfecter les données pour empecher javascript injecté d'être executé-->
                                  <td>{{ user.first_name|title|escape }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>{{ user.username }}</td>
                                  <td class="priority" id="{{ user.id }}">
                                      {% if user.profile %}
                                              {% if user.profile.priority == 0 %}
                                                  <button class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></button>
                                              {% else %}
                                                  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                              {% endif %}
                                          {% endif %}
                                  </td>
                                  <td class="center">
                                    <a class="btn btn-info btn-xs" href="{% url 'users/user_groups' user.id|crypter_id %}">
                                      Groupes
                                    </a>
                                  </td>
                                  <td>{{ user.last_login|date:"d/m/Y h:m" }}</td>
                                  <td>
                                      <a class="btn btn-default btn-xs delete_customer" id="{{ user.id }}"> <i class="fa fa-trash"></i> </a>&nbsp;
                                      <a href="{% url 'users/details_cus' user.id|crypter_id %}" title="Détails" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></a>
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  <!-- Delete Modal-->
                  <div class="modal fade" id="content_delete" tabindex="-1" style="border-radius: 10px;">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header danger">
                          <h5 class="modal-title" id="exampleModalLabel"><span align="center"><i class="fa fa-trash"></i> Suppression</span></h5>
                        </div>
                        <div class="modal-body" id="content-delete-item"></div>
                      </div>
                    </div>
                  </div>
                  <!-- End Delete Modal-->

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}





