{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Détails {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-dashboard"></i> Tableau de bord
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li><a href="{% url 'commande/commandes' %}"> Commandes</a></li>
        <li class="active">Détails</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
                <h6 class="box-title text-info"><i class="fa fa-table"></i> Détails de la commande n° <b class="text-danger">{{ commande.id }}</b> de <b>{{ commande.user.last_name }} {{ commande.user.first_name }}</b></h6>
            </div>
            <div class="box-body">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="bg-{{ parametre.theme }} text-white">
                                            <th>Id</th>
                                            <th>Disciplines</th>
                                            <th>Composants</th>
                                            <th>Quantité</th>
                                            <th>Prix</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for achat in achats %}
                                        <tr>
                                            <td>{{ achat.id }}</td>
                                            <td>{{ achat.discipline }}</td>
                                            <td>{{ achat.composant }}</td>
                                            <td>{{ achat.quantite }}</td>
                                            <td class="text-danger">{{ achat.price }} {{ parametre.devise }}</td>
                                            <td>
                                                <a class="btn btn-default btn-xs" href="#" data-toggle="modal" data-target="#contactModal{{ achat.id }}"><i class="fa fa-eye"></i> Voir plus</a>
                                                <!-- Logout Modal-->
                                                <div class="modal fade" id="contactModal{{ achat.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-primary">
                                                                <h5 class="modal-title" id="exampleModalLabel"><span align="center"><i class="fa fa-info"></i> Autres informations</span></h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4><b>{{ achat.discipline }} | {{ achat.composant }}</b></h4>
                                                                <hr>
                                                                <h5><b>Titre</b></h5>
                                                                <p>{{ achat.title }}</p>
                                                                <h5><b>Commentaire</b></h5>
                                                                <p>{{ achat.comment }}</p>
                                                                <p><b>Quantité : {{ qtetotal }}</b> | <b class="text-danger">Total : {{total}} {{ parametre.devise }}</b></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <p>
                                {% if commande.validation == "Commande en cours de traitement" %}
                                <a href="#" data-toggle="modal" data-target="#validationModal" title="Validation"  id="validate{{commande.validation}}"><span class="label label-warning">Commande en cours de traitement</span></a>
                                {% elif commande.validation == "Commande validée" %}
                                <a href="#" data-toggle="modal" data-target="#validationModal" title="Validation"  id="validate{{commande.validation}}"><span class="label label-success"> Commande validée</span></a>
                                {% else %}
                                <a href="#" data-toggle="modal" data-target="#validationModal" title="Validation" id="validate{{commande.validation}}"><span class="label label-danger">Commande non validée</span></a>
                                {% endif %}
                                <!-- validation Modal-->
                                <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header bg-primary">
                                          <h5 class="modal-title" id="exampleModalLabel"><span align="center"><i class="fa fa-check"></i> Valider la commande</span></h5>
                                        </div>
                                        <form method="post" action="{% url 'validation' %}">
                                          <div class="modal-body">
                                            {% csrf_token %}
                                            <input type="text" id="id" name="id" value="{{ commande.id }}" hidden="True"/>
                                            <div class="form-group">
                                                <select name="validation" id="validation" class="form-control" required>
                                                    <option value="{{ commande.validation }}">{{ commande.validation }}</option>
                                                    {% for validation in validations %}
                                                    <option value="{{ validation }}">{{ validation }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <textarea name="comment" class="form-control" rows="2" placeholder="tapez votre commentaire ici ..."></textarea>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <div class="center">
                                              <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Annuler</button>&nbsp;&nbsp;
                                              <button type="submit" class="btn btn-primary btn-xs">Valider la commande</button>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                </div>
                            </p>
                            <h5 class="pull-right"><b>Mode de paiement</b> | {{ commande.modepaiement.libelle }}</h5>
                        </div>
                    </div>
            </div>
        </div>
    </section>               
</div>
<!-- /.container-fluid -->
{% endblock %}