{% extends 'global/base0.html' %}
{% block title %} {{ parametre.appname }} | Mode de paiement {% endblock %}
{% block content %}
{% load static %}
<!-- Page Content-->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
              <i class="fa fa-book"></i> Documents
            </h1>
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Accueil</a></li>
              <li><a href="{% url 'cours/cours' %}">Documents</a></li>
              <li><a href="{% url 'commande/panier' %}">Panier</a></li>
              <li class="active">Paiement</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 align="center"> <b>Modes de paiements</b></h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h3 class="succ"> Somme totale à payer : <b class="text-danger">{{ prixtotal }} {{ parametre.devise }}</b></h3>
                            <hr>
                            <h4>Selectionne le mode de paiement</h4>
                            <table class="table table-striped">
                                {% for mode in modes %}
                                    {% if mode.typepaiement == "PayPal"%}
                                    <tr>
                                        <th class="text-center">PayPal</th>
                                        <th class="text-center"><b style="float:left" class="text-success">
                                            <div class="text-center"><img class="img-responsive" src="{% static 'dist/img/paypal.png' %}" width="50" height="40" alt="..." /></div>
                                        </th>
                                        <th class="text-center">
                                            <a href="{% url 'commande/paiement_paypal' %}" class="btn btn-primary btn-xs"><i class="fa fa-paypal"></i> Acheter</a>
                                        </th>
                                    </tr>
                                    {% elif mode.typepaiement == "Carte bancaire" %}
                                    <tr>
                                        <th class="text-center">Carte bancaire </th>
                                        <th class="text-center"><b style="float:left" class="text-success">
                                            <div class="text-center"><img class="img-responsive" src="{% static 'dist/img/visa.png' %}" width="50" height="40" alt="..." /></div>
                                        </th>
                                        <th class="text-center">
                                            <a href="{% url 'commande/paiement_card_bancaire' %}" class="btn btn-primary btn-xs"><i class="fa fa-credit-card"></i> Acheter</a>
                                        </th>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <th class="text-center">Mobile</th>
                                        <th class="text-center"><b style="float:left" class="text-success">
                                            <div class="text-center"><img class="img-responsive" src="{% static 'dist/img/phone-icon.png' %}" width="50" height="40" alt="..." /></div>
                                        </th>
                                        <th class="text-center">
                                            <a href="{% url 'commande/paiement_mobile' %}" class="btn btn-primary btn-xs"><i class="fa fa-mobile"></i> Acheter/Commander </a>
                                        </th>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                            <p>Si vous validez l'achat, vous allez être dirigé(e) sur Paypal pour pouvoir finaliser votre paiement</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'commande/panier' %}" class="btn btn-default btn-xs"><i class="fa fa-arrow-circle-left"></i> Retour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action-->
        </section>
    </div>
</div>
{% endblock %}
        
