{% extends 'global/base0.html' %}
{% block title %} {{ parametre.appname }} | Paiement {% endblock %}
{% block content %}
{% load static %}
<!-- Page Content-->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
              <i class="fa fa-book"></i> Documents
            </h1>
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Accueil</a></li>
              <li><a href="{% url 'cours/cours' %}">Documents</a></li>
              <li><a href="{% url 'commande/panier' %}">Panier</a></li>
              <li><a href="{% url 'commande/md_paiement' %}">Mode de paiement</a></li>
              <li class="active">Paiement</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 align="center"><b>Paiement</b></h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Disciplines</th>
                                        <th>Composants</th>
                                        <th>Titres</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                    </tr>
                                    {% for document in documents %}
                                        <tr>
                                            <td>{{ document.discipline }}</td>
                                            <td>{{ document.composant }}</td>
                                            <td>{{ document.title }}</td>
                                            <td>{{ document.quantite }}</td>
                                            <td class="text-danger">{{ document.price }} {{ parametre.devise }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3" class="text-center"><b>Total</b></td>
                                        <td class="text-primary"><b>{{ qte_total }}</b></td>
                                        <td  class="text-danger"><b>{{ prix_total }} {{ parametre.devise }}</b></td>
                                    </tr>
                                </table>
                            </div>
                            <form method = "post" action = "">
                                {% csrf_token %}
                                <span class="text-center">
                                    <button id="checkout-button">Payer maintenant</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action-->
        </section>
    </div>
</div>
{% endblock %}
        
