<div class="login-box">
      <div class="login-logo">
        <a routerLink="/home">
          <b *ngIf="setting$ | async as setting">
            <span *ngIf="setting.logo; else another">
              <img [src]="'http://127.0.0.1:8080/uploads/' + setting.logo" alt="logo" class="img-circle" width="{{ setting.width}}" height="setting.height">
            </span>
            <ng-template #another>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>{{ setting.nameApp }}</b></span>
            </ng-template>
          </b>
        </a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <h4 class="login-box-msg">Réinitialiser le mot de passe</h4>
        <form [formGroup]="resetForm" (ngSubmit)="submit()">
          <div class="form-group has-feedback">
            <input
              type="text"
              class="form-control"
              type="password"
              formControlName="newPassword"
              placeholder="Entrer le  mot de passe"
              required>
          </div>
          <div
              *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched"
              class="glyphicon glyphicon-envelope form-control-feedback">
              Mot de passe trop faible
          </div>

          <div class="form-group has-feedback">
            <input
              type="password"
              class="form-control lock-input"
              formControlName="confirmPassword"
              placeholder="confirmer le mot de passe"
              required>
          </div>
          <div
              *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched"
              class="glyphicon glyphicon-envelope form-control-feedback">
              Mot de passe trop faible
          </div>

          <div class="bg-mint">
            <p class="text-center text-white"><strong>{{ message }}</strong></p>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button type="submit"
                class="btn btn-block btn-primary form-control"
                [disabled]="resetForm.invalid"
                class="btn btn-primary btn-xs btn-block btn-flat"> Réinitialiser </button>
            </div><!-- /.col -->
          </div>
        </form>
        <hr>
        <div class="registration">
          <a routerLink="/login"> <span class="text-primary"><i class="fa fa-arrow-left"></i> Retour </span> </a>
        </div>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
