{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Ajout d'un progrès {% endblock %}
{% block content %}
{% load static %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Progrès</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ajout du progrès d'un projet en commun</h6>
        </div>
        <div class="card-body">
            <!-- On inclut l'image de chargement -->
            {% include 'global/_loading.html' %}
            <form method="post" action="" id="formProgresCommun">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projet">Projet *</label>
                            <select name="projet" id="projet" class="form-control" required>
                               <option value="">-- Selectionnez --</option>
                               {% for projet in projets %}
                               <option value="{{ projet.id }}">{{ projet }} ({{ projet.type_projet }})</option>
                               {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date_progres">Date du progrès *</label>
                           <input type="date" name="date_progres" id="date_progres" class="form-control" required> 
                        </div>
                        <div class="form-group">
                            <label for="pourcentage">Pourcentage *</label>
                           <input type="number" name="pourcentage" id="pourcentage" class="form-control" required> 
                        </div>
                        <div class="form-group">
                            <label for="commentaire">Commentaire *</label>
                            <textarea name="commentaire" id="commentaire" class="form-control" placeholder="Saisir le commentaire ici" rows="6"></textarea> 
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{% url 'progres_g' %}" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-left"></i> Retour</a>&nbsp;
                        <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Valider</button>
                    </div>
                </div>
            </form>   
            
            <!-- Start message Modal -->
            <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content bg-gradient-dark">
                    <div class="modal-header">
                      <h5 class="modal-title text-light"><i class="fa fa-info-circle"></i> Information</h5>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-sm text-center" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
                    </div>
                  </div>
                </div>
            </div><!-- End message Modal-->


        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}