{% if projets %}
    {% for p in projets %}
        <div class="col-md-12 col-lg-12">
            <div class="card mb-4 py-3 border-bottom-dark">
                <div class="card-body">
                <h5><b>Projet</b></h5>
                <p>{{ p.projet }}</p>
                <p>
                    <a class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#detailModal{{ p.projet.id }}" title="Détail"><i class="fa fa-eye"></i> Détail</a>
                    <!-- debut detail modal -->
                    <div class="modal fade" id="detailModal{{ p.projet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-info text-light">
                                    <h5 class="modal-title" id="exampleModalLabel"><b class="text-center"> Liste des progrès </b></h5>
                                </div>
                                <div class="modal-body">
                                    <div style="border-radius:10px; padding: 10px" class="{{ setting.theme }}">
                                        <h5 class="text-light">Projet :</h5>
                                        <p class="text-light">{{ p.projet }}</p>
                                    </div>
                                    <br>
                                    {% for prog in p.progres %}
                                        <div class="card mb-4 py-3 border-bottom-dark">
                                            <div class="card-body">
                                                <p>Date de progès : {{ prog.date_progres }} </p>
                                                {% if prog.pourcentage <= 20 %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% elif prog.pourcentage > 20 and prog.pourcentage <= 40 %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% elif prog.pourcentage > 40 and prog.pourcentage <= 60 %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% elif prog.pourcentage > 60 and prog.pourcentage <= 80 %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% elif prog.pourcentage > 80 and prog.pourcentage <= 99 %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% else %}
                                                <h4 class="small font-weight-bold">Pourcentage <span
                                                    class="float-right">{{ prog.pourcentage }}%</span></h4>
                                                <div class="progress mb-4">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ prog.pourcentage }}%"
                                                        aria-valuenow="{{ prog.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                {% endif %}
                                                <h5><b>Commentaire :</b></h5>
                                                <p>{{ prog.commentaire }}</p>
                                                <p>
                                                    {% if request.user.is_superuser %}
                                                    <a href="{% url 'edit_prog_p' prog.id %}" title="Modifier" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Modifier</a>&nbsp;
                                                    <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#delModal{{ prog.id }}" title="Supprimer"><i class="fa fa-trash"></i> Supprimer</a>
                                                    {% endif %}
                                                    <!-- Delete Modal-->
                                                    <div class="modal fade" id="delModal{{ prog.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                    aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header bg-danger text-light">
                                                                    <h5 class="modal-title" id="exampleModalLabel"><span align="center"> Suppression</span></h5>
                                                                </div>
                                                                <div class="modal-body text-center">Voulez-vous vraiment supprimer ce progrès ?</div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary btn-sm close-modal" id="{{ prog.id }}"><b>X</b> Annuler</button>
                                                                    <a class="btn btn-danger btn-sm" href="{% url 'del_prog_p' prog.id %}"><i class="fa fa-trash"></i> Supprimer</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end modal Delete -->
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal detail -->
                </p>
                </div>
            </div>
        </div>
    {% endfor %} 


    <!--Pagination-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <ul class="pagination">
                {% if projets.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ projets.previous_page_number }}"><i class="fa fa-arrow-circle-left"></i></a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link bg-primary" href="?page={{ projets.number }}">{{ projets.number }}</a>
                </li>

                {% if projets.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ projets.next_page_number }}"><i class="fa fa-arrow-circle-right"></i></a>
                {% endif %}
                </li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!--End pagination-->
{% else %}
    <h4 class="text-center"> Aucun progrès n'a été enregistré.</p>
{% endif %}