{% extends 'global/base_sup_admin.html' %}
{% block title %} {{ setting.appname }} | Rôles {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Rôles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item active">Rôles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des rôles</h5>
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'role/add_role' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer un rôle</a>
                    {% else %}
                    <a href="{% url 'role/add_role' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer un rôle</a>
                    {% endif %}
                </div>
                {% if messages %}
                  {% for message in messages %}
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Groupes</th>
                                <th class="white-space">Nombre utilisateurs</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in roles %}
                            <tr>
                                <td class="white-space">{{ r.group.name }}</td>
                                <td><span class="badge rounded-pill bg-secondary text-center">{{ r.nombre_users }}</span></td>
                                <td>
                                  <a class="btn btn-info btn-sm list_role" title="liste" id="{{ r.group.id }}"><i class="bi bi-eye"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->

                 <!-- Start info Modal -->
                <div class="modal fade" id="content_list" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header bg-info text-dark">
                        <h5 class="modal-title">liste des utilisateurs</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="badge bg-dark">x</span>
                        </button>
                      </div>
                      <div class="modal-body" id="content-list-item"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                      </div>
                    </div>
                  </div>
                </div><!-- End info Modal-->
                
                <!-- Start delete Modal -->
                <div class="modal fade" id="content_delete" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                      <div class="modal-header bg-danger text-light">
                        <h5 class="modal-title">Avertissement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="badge bg-dark">x</span>
                        </button>
                      </div>
                      <div class="modal-body" id="content-delete-item"></div>
                    </div>
                  </div>
                </div><!-- End delete Modal-->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}