{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Contacts du portfolio {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-dashboard"></i> Tableau de bord
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
          <li class="active">Contacts</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-header">
                    <h6 class="box-title text-info"><i class="fa fa-table"></i> Liste des contacts du portfolio</h6>
                </div>
                <div class="box-body">

                    {% for contact in contacts %}
                    <div class="border-radius content_message">
                        <p><span class="text-primary">{{ contact.name|title }}</span> | {{ contact.email }} <small class="pull-right">{{ contact.datecontact|date:"d-m-Y H:m" }}</small></p>
                        <span>{{ contact.message|escape }}</span>
                    </div>
                    <p style="margin-left:30px">
                        <a class="text-danger" href="#" data-toggle="modal" data-target="#contactModal{{ contact.id }}"><i class="fa fa-trash"></i> Supprimer </a>&nbsp;
                        <!-- delete Modal-->
                        <div class="modal fade" id="contactModal{{ contact.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content modal-sm">
                                    <div class="modal-header bg-red">
                                        <h5 class="modal-title" id="exampleModalLabel"><span align="center"><i class="fa fa-trash"></i> Suppression</span></h5>
                                    </div>
                                    <div class="modal-body text-center">Voulez-vous supprimer le message de {{ contact.name }} ?</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Annuler</button>
                                        <a class="btn btn-danger btn-xs" href="{% url 'delete_contact' contact.id %}"><i class="fa fa-trash"></i> Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.container -->
{% endblock %}